/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 /
44 / 52 / 62 / 74 / 86 / 98 */

/*****************************
SCREEN SIZE BELOW 1440PX (SMALLER DESKTOP)
*****************************/

@media (max-width: 64em) {
  .keyboard-img-three {
    margin-left: -3rem;
  }

  .first-header {
    font-size: 2.4rem;
  }
}

@media (max-width: 52em) {
  .keyboard-img-three {
    margin-left: -3rem;
  }

  .section-three {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 50em) {
  .keyboard-img-three {
    margin-left: -2.5rem;
  }
}

/* @media (max-width: 45em) {
  .body-link {
    font-size: 1rem;
    padding: 1rem;
  }

} */

@media (max-width: 44em) {
  .body-link:link,
  .body-link:visited {
    background-color: hsl(22, 89%, 52%);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    color: hsl(0, 0%, 100%);
    padding: 1.5rem;
    border-radius: 10px;
    transition: all 0.3s;
  }

  .header-link:link,
  .header-link:visited {
    padding: 1.5rem;
    background-color: hsl(198, 28%, 93%);
    color: hsl(192, 100%, 9%);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    /* font-weight: 800; */
    font-size: 1rem;
    border-radius: 10px;
    transition: all 0.3s;
  }
}

@media (max-width: 42em) {
  .section-three {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-3--cols {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;
  }

  .first-header {
    font-size: 2.4rem;
  }

  .second-header {
    font-size: 1.6rem;
  }

  .grid-2--cols {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .header-para-flex {
    align-items: center;
    justify-content: center;

    /* padding-left: 3rem;
    padding-right: 3rem; */
  }

  .keyboard-img-three {
    margin-left: auto;
  }
}

@media (max-width: 32em) {
  .first-header {
    font-size: 2rem;
    font-weight: bolder;
  }

  .header-link {
    padding: 1.5rem;
    font-size: 1rem;
  }

  /* .body-link {
    padding: 1.5rem;
    font-size: 1rem;
  } */

  .section-three {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 5rem;
  }

  .grid-3--cols {
    grid-template-columns: 1fr;
  }

  .two img {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 26em) {
  .body-link:link,
  .body-link:visited {
    background-color: hsl(22, 89%, 52%);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    color: hsl(0, 0%, 100%);
    padding: 1.5rem;
    border-radius: 10px;
    transition: all 0.3s;
  }
}
